<h1>Authors</h1>

<a href="/authors/new">Create New Author</a>

{{#each authors}}
    <div>
        <p>Name: {{ this.name }}</p>
        <p>Bio: {{ this.bio }}</p>
        <p>Gender: {{ this.gender }}</p>
    </div>
    <hr />
{{/each}}