<h1>New Book</h1>

<form method="post" action="/books">
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>